altair
blinker
cachetools
click
contourpy
cycler
fonttools
gitdb
GitPython
idna
joblib
kiwisolver
matplotlib
narwhals
numpy
pandas
pillow
protobuf
pyarrow
pydeck
pyparsing
pytz
pywin32
scikit-learn
scipy
seaborn
setuptools
smmap
streamlit
tenacity
threadpoolctl
toml
tzdata
watchdog
wheel
xgboost
